name: 'Check Build and Test'

permissions:
  checks: write
on:
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 18.x

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 10
      - name: Setup Node Version ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install PNPM
        run: npm install -g pnpm
      - name: Install RushJS
        run: npm install -g @microsoft/rush
      - name: Verify Change Logs
        run: rush change --verify
      - name: Install Dependencies
        run: rush update
      - name: Build Projects
        run: rush rebuild --verbose
      - name: Run Tests
        run: cd packages/neon-dappkit && pnpm test
      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: test-results
          path: mocha-results.json
      - name: Check Code Coverage
        continue-on-error: true
        working-directory: ./packages/neon-dappkit/
        run: pnpm coverage
      - name: Upload Coverage Summary
        uses: actions/upload-artifact@v4
        with:
          name: coverage-summary
          path: packages/neon-dappkit/coverage/coverage-summary.json
